body
{
/*background-image:url('../happy_puppy.jpg');*/
background-size: 100%;
background-repeat: no-repeat;
back
width: 100%;
background-color:#FFFFFF;
}

.bodygrey {
	background-color: #ecf0f1;
}

.bodywhite {
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
	padding-right: 100px;
}

h1 {
	color: black;
}

.puppy {
	background-image:url('../happy_puppy.jpg');
}

.sweetbuttons {
	margin-top: 80px;
	padding-left: 30px;
	padding-right: 30px;
}

.foundbutton {
	margin-left: 20px;
}

.popup-gallery {
	margin-top: 200px;
	padding-left: 550px;
}

.orangebutton {
	background-color: #f4a221;
}

.bluebutton {
	background-color: #3498db;
}

.header {
	margin: 10px, 10px, 0px, 10px;
}

.orangetext {
	color: #f4a221;
	font-size: 36px;
}

p.subhead {
	font-size: 18px;
}

.animalImage {
	float: left;
	margin-top: 40px;
	margin-right: 40px;
}

.profileInfo {
	margin-top: 40px;
	display: inline-block;
	}












